*{
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.common-section-title{
    font-weight:600 ;
    font-size: 36px;
}
.panda-btn{
    border-radius: 6px;
    background:linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
    padding: 5px 5px;
    color: honeydew;

}
.container{
    max-width: 1280px;
    margin: auto;
}


nav{
    display: flex; 
    justify-content: space-between;
}
.search input{
 background-color:rgb(241, 241, 241) ; 
 border-radius: 64px;  
 padding: 15px 30px;
 width: 500px;
 border: none;
 }
 .nav-icons{
    display: flex;
    list-style: none;
    gap: 10px;
     }
 .nav-icons li a{
    text-decoration: none;
    color: #707070;
 }

 /* banner */
 .banner{
    display: flex;
    background-color: #FEEAE9;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    margin-top: 25px;
    padding: 20px;
 }
 .banner img{
    width: 402px;
    height: 378px;
 }
  .banner h2{
    color: rgb(31, 31, 31);
    font-size: 52px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0%;
    text-align: left;
 }
 .banner p{
        text-align: left;
        color: #4E4E4E;
        
 } 
.banner-price{
    color: #FF136F;
    font-size: 41px;
    font-weight: bold;
}
.categorie-container{
    display: flex;
    gap: 26px;
    

}
.card{
    background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%,rgb(255, 208, 25) 84.486%);
    display: flex;
    justify-content: space-between;
    gap: 4px;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}
.card h3{
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.card1{
    
}
.card2{
/* Linear */
background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
color: white;
}
.card3{
    background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%,rgb(63, 7, 248) 74.29%);

}
 /* shoes section */
 

 .shoes-bag{
     background:#F4F4F4;
 }
.shoe-section{
   
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.shoe-card-container{
    display: flex;
    justify-content:space-between;
    gap: 15px;
}
.shoe-card{
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 25px;
}
.card-price{
    display: block;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 12px;
}
.shoe-card img{
    width: 336pxs;
    height: 202px;
}
.shoe-card .panda-btn{
    background: black;
}